@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-brand-dark text-white max-w-6xl mx-auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-section {
    @apply flex items-center justify-center flex-col;
}
h1 {
    @apply text-6xl xs:text-7xl sm:text-8xl md:text-9xl text-center mt-12 font-extrabold;
}
h2 {
    @apply text-3xl md:text-4xl font-bold;
}
h3 {
    @apply text-2xl md:text-3xl;
}
h4 {
    @apply text-xl md:text-2xl;
}
.header {
    @apply text-brand-light p-4 border-b-2 border-brand-primary;
}

input[type="text"] {
    @apply border-2 border-brand-primary focus:outline-none py-1 px-2 bg-inherit border-r-0;
}
.tasks {
    @apply flex items-start flex-wrap gap-2 pt-6 max-w-4xl mx-auto;
}
.task > p {
    @apply py-2;
}
.task {
    @apply border ps-4 flex items-center justify-between max-h-72;
}
.background-image {
    @apply w-full max-w-4xl opacity-70 h-full flex items-center justify-center -z-10  blur-0 hover:blur-sm;
    filter: sepia(0.8) invert(0.2);
}
.primary-btn {
    @apply bg-brand-light text-brand-dark font-bold py-2 px-12 relative hover:bg-brand-light text-xl duration-300;
}
.primary-btn::before {
    content: "";
    z-index: -1;
    @apply absolute -bottom-1 left-1 hover:-bottom-0 hover:-left-0 bg-brand-primary w-full h-full duration-300;
}
