@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-brand-dark text-white font-medium tracking-wide max-w-6xl mx-auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-section {
    @apply flex items-center justify-center flex-col;
}
h1 {
    @apply text-4xl md:text-5xl font-extrabold tracking-tight text-center mt-12;
}
h2 {
    @apply text-3xl md:text-4xl font-bold tracking-tight;
}
h3 {
    @apply text-2xl md:text-3xl font-extrabold tracking-tight;
}
h4 {
    @apply text-xl md:text-2xl font-extrabold tracking-tight;
}
.header {
    @apply text-brand-light p-4 border-b-2 border-brand-primary;
}
.primary-btn {
    @apply border-brand-primary border-2 border-l-0 text-brand-light font-normal py-1 px-4;
}
.primary-btn:hover {
    @apply bg-brand-primary duration-200;
}
input[type="text"] {
    @apply border-2 border-brand-primary focus:outline-none py-1 px-2 bg-inherit border-r-0;
}
.tasks {
    @apply flex items-start flex-wrap gap-2 pt-6 max-w-4xl mx-auto;
}
.task > p {
    @apply py-2;
}
.task {
    @apply border ps-4 flex items-center justify-between max-h-72;
}
.background-image {
    @apply w-full max-w-4xl opacity-70 h-full flex items-center justify-center -z-10 brightness-90 blur-0 hover:blur-sm;
}
.primary-btn {
    @apply bg-brand-primary text-brand-dark font-bold py-1 px-8 relative;
}
.primary-btn::before {
    content: "";
    z-index: -1;
    @apply absolute -bottom-1 left-1 hover:-bottom-0 hover:-left-0 bg-brand-light w-full h-full duration-300;
}
